@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700");
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #3b3b3b;
  font-family: 'Raleway', sans-serif;
  color: #363636;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;

}

img {
  max-width: 100%;
}

.contentland {
  width: 100%;
  max-height: 500px;
  margin-right: 10px;
}




.srt {
  position: absolute;
  height: 1px;
  width: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
          clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  overflow: hidden !important;
}
.button {
  display: inline-block;
  padding: 0.75em 1.25em 0.75em 0.3em; /* Стандартные отступы */
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: #ececec;
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 768px) {
  .button {
    padding: 0.5em 0.75em 0.5em 0.3em; /* Уменьшенные отступы для мобильных устройств */
  }
}

@media (max-width: 480px) {
  .button {
    padding: 0.25em 0.5em 0.25em 0.3em; /* Еще более уменьшенные отступы для очень маленьких экранов */
  }
}

.button:hover:before {
  border-bottom-color: #00a2ff;
}
.button:hover:after {
  bottom: 95%;
}
.button:before {
  content: '';
  position: absolute;
  top: 0;
  right: -3px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #ececec;
  transform: rotate(45deg);
  transition: border-color 0.2s ease-in-out;
}
.button:after {
  content: '';
  width: 100%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #00a2ff;
  transition: bottom 0.2s ease-in-out;
  z-index: -1;
}
.button--alternate {
  display: inline-block;
  position: relative;
  padding: 0.75em 1.25em;
  background-color: #7bff00;
  color: #000;
  font-size: 0.875rem;
  text-decoration: none;
  font-weight: 700;
  transition: background-color 0.2s ease-in-out;
}
.button--alternate:hover {
  background-color: #fb3132;
}
.button--alternate:before {
  content: '';
  position: absolute;
  bottom: -1px;
  right: -4px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  transform: rotate(135deg);
}
.button--white {
  display: inline-block;
  padding: 0.75em 1.25em;
  background-color: #fff;
  color: #363636;
  font-size: 0.875rem;
  text-decoration: none;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
  border-radius: 7px;
}
.button--white:hover {
  color: #fff;
  background-color: #00a2ff;
}
.site-header {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.site-header__logo {
  margin: 0;
  color: #ececec;
}
.site-header__actions {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}

.site-nav{
  padding-top: 30px;
  padding-bottom: 20px;
  padding-right: 11px;
}
/* Стандартные стили для элементов навигации, исключая последний элемент */
.site-nav__item:not(:last-child) {
  padding-right: 2rem;
}

/* Медиа-запросы для адаптации стилей на мобильных устройствах */
@media (max-width: 768px) {
  .site-nav__item:not(:last-child) {
    padding-right: 1rem; /* Уменьшенный отступ для планшетов */
  }
}

@media (max-width: 480px) {
  .site-nav__item:not(:last-child) {
    padding-right: 0.5rem; /* Еще меньший отступ для мобильных телефонов */
  }
}

.site-nav__item {
  text-decoration: none;
  color: #a8a8a8;
  font-weight: 700;
  transition: color 0.15s ease-in-out;
}
.site-nav__item:hover,
.site-nav__item.active {
  color: #ececec;
}
.site-nav__item:hover span:after,
.site-nav__item.active span:after {
  bottom: -0.5rem;
  opacity: 1;
}
.site-nav__item span {
  position: relative;
}
.site-nav__item span:after {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #6f6f6f;
  opacity: 0;
  transition: all 0.15s ease-in-out;
}
.header-search {
  padding-right: 1rem;
}
.header-search__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  color: #ececec;
  background-color: transparent;
  border: 1px solid #979797;
  border-radius: 2rem;
  transition: border-color 0.2s ease-in-out;
}
.header-search__input::-moz-placeholder {
  color: #979797;
}
.header-search__input:-ms-input-placeholder {
  color: #979797;
}
.header-search__input::placeholder {
  color: #979797;
}
.header-search__input:focus {
  outline: none;
  border-color: #fc595a;
}
.upper-landing {
  display: flex;
  color: #ececec;
  
}
.upper-landing__colophon {
  display: flex;
  padding: 15rem 5px; 
  flex-direction: column;
  width: 10%;
}
.upper-landing__colophon .tagline {
  color: #999;
  font-size: 0.9rem;
  transform: rotate(-90deg);
  transform-origin: left top;
  white-space: nowrap;
}
.upper-landing__colophon .tagline span {
  color: #ececec;
  font-weight: 700;
}
.upper-landing__colophon .social {
  display: flex;
  flex-direction: column;
}
.upper-landing__colophon .social__link {
  width: 1.125rem;
  margin-bottom: 0.4rem;
}
.upper-landing__colophon .social__link:last-of-type {
  margin-bottom: 0;
}
.upper-landing__colophon .social__link path {
  transition: fill 0.15s ease-out;
}
.upper-landing__colophon .social__link:hover path {
  fill: #fff;
}
.upper-landing__info {
  margin-bottom: 0.5rem; 
  width: 50%;
}

.upper-landing__header h2 {
  margin: 0 0 3.625rem 0;
  font-size: 3.8rem;
  font-weight: 300;
  line-height: 1.3;
}

/* Стили для заголовков и подзаголовков в .upper-landing__info на различных устройствах */
@media (max-width: 1170px) {
  .upper-landing__info h2 {
    font-size: 3.4rem; /* Дополнительное уменьшение размера шрифта заголовков для планшетов */
  }
  .upper-landing__subtitle, .upper-landing__subtitle p {
    font-size: 11px; /* Дополнительное уменьшение размера шрифта подзаголовков для планшетов */
  }
}

@media (max-width: 768px) {
  .upper-landing__info h2 {
    font-size: 2.2rem; /* Дополнительное уменьшение размера шрифта заголовков для планшетов */
  }
  .upper-landing__subtitle, .upper-landing__subtitle p {
    font-size: 11px; /* Дополнительное уменьшение размера шрифта подзаголовков для планшетов */
  }
}

@media (max-width: 480px) {
  .upper-landing__info h2 {
    font-size: 1.8rem; /* Еще большее уменьшение размера шрифта заголовков для мобильных устройств */
  }
  .upper-landing__subtitle, .upper-landing__subtitle p {
    font-size: 9px; /* Еще большее уменьшение размера шрифта подзаголовков для мобильных устройств */
  }
}




.upper-landing__subtitle {
  font-size: 14px;
  margin-bottom: 2.8125rem;
  padding-left: 2rem;
  line-height: 1.9;
  border-left: 1px solid #6f6f6f;
  
}
@media (max-width: 768px) {
  .upper-landing__subtitle {
    display: none; /* Скрываем блок на устройствах с шириной экрана меньше 768px */
  }
}
.event-date {
  font-size: 14px;
}

.upper-landing__cta {
 
  width: 55%;
  padding-left: 10px;
}
@media (max-width: 768px) {
  .upper-landing__cta {
    width: 75%;
    padding-left: 0;
  }
}
.upper-landing__slideshow {
  width: 100%; /* Гарантируем, что слайдшоу занимает всю ширину */
  padding: 0; /* Убираем внутренние отступы */
  margin: 0; /* Убираем внешние отступы */
  box-sizing: border-box; /* Границы и паддинги входят в ширину/высоту элемента */
}

.upper-landing__slideshow-controls {
  display: flex;
  justify-content: flex-end;
  align-items: right;
  padding-right: 4rem;
}
.upper-landing__slideshow-controls .slick-dots {
  list-style: none;
}
.upper-landing__slideshow-controls .slick-dots li {
  display: inline-block;
  margin-right: 0.5rem;
  padding: 0.5rem 0;
}
.upper-landing__slideshow-controls .slick-dots li.slick-active button,
.upper-landing__slideshow-controls .slick-dots li:hover button {
  background-color: #969798;
}
.upper-landing__slideshow-controls .slick-dots button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  background-color: rgba(150,151,152,0.5);
  height: 3px;
  width: 30px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  vertical-align: middle;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}
.upper-landing__slideshow-controls .slick-arrow {
  display: inline-block;
  cursor: pointer;
}
.mid-landing {
  display: flex;
  padding-top: 2.8125rem;
  background-color: #fff;
}


.mid-landing__cta-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}
.mid-landing__product-row {
  display: flex;
  flex-direction: row; /* По умолчанию элементы расположены в ряд */
  justify-content: space-between; /* Распределение элементов с пробелами по краям */
  align-items: center;
}

@media (max-width: 768px) {
  .mid-landing__product-row  {
    flex-direction: column; /* Элементы теперь расположены в колонку */
    align-items: stretch; /* Растягиваем элементы, чтобы занимали всю доступную ширину */
  }
}



.mid-landing__product-row .product-info,
.mid-landing__product-row .product-photo {
  width: 50%;
}
.mid-landing__product-row .product-info {
  padding: 9px 7rem;
  /*margin-right: 7px;*/
}
@media (max-width: 1235px) {
  .mid-landing__product-row .product-info {
    padding: 9px 4rem; 

  }
}
@media (max-width: 1090px) {
  .mid-landing__product-row .product-info {
    padding: 20px 25px; 

  }
}


/* Медиа-запросы для мобильных устройств */
@media (max-width: 480px) {
  .mid-landing__product-row .product-info {
    padding: 0 10px; /* Минимальный паддинг для мобильных телефонов */
    width: 100%;
  }
}
.mid-landing__product-row .product-info__title {
  margin-bottom: 2.75rem;
  font-size: 2.25rem;
}
.mid-landing__product-row .product-info__copy {
  position: relative;
  margin-bottom: 2.75rem;
  padding-left: 1.75rem;
  font-size: 0.875rem;
  line-height: 1.9;
  border-left: 1px solid #cecfd0;
}


.learn-more-card {
  width: 25%;
}
.learn-more-card a {
  text-decoration: none;
  color: inherit;
}
.learn-more-card__title {
  margin-bottom: 1.5rem;
  color: #abacad;
  font-size: 0.875rem;
  text-transform: uppercase;
}
.learn-more-card__copy {
  margin-bottom: 1.5rem;
  font-size: 0.8rem;
  line-height: 1.5;
}
.learn-more-card__cta {
  display: inline-block;
  position: relative;
  bottom: -0.5rem;
  font-size: 0.75rem;
  color: #fc595a;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.learn-more-card__line {
  display: inline-block;
  position: relative;
  top: -0.2rem;
  margin-right: 0.5rem;
}
.learn-more-card__line .line-component {
  display: inline-block;
  margin-right: 8px;
  width: 0.25rem;
  height: 0.25rem;
  background-color: #d1d1d1;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
}
.learn-more-card:hover .learn-more-card__cta {
  bottom: 0;
  opacity: 1;
}
.learn-more-card:hover .line-component {
  width: 0.75rem;
  margin-right: 0;
  background-color: #fc595a;
  border-radius: 0;
}
.lower-landing {
  padding: 25rem 0;
  position: relative;
  background: url("./bg.jpg") no-repeat center center/cover;
}

@media (max-width: 550px) {
  .lower-landing {
    background: #4a4a4a;
  }

}

.lower-landing__heading {
  margin-bottom: 3rem;
  font-size: 2.25rem;
}
.lower-landing__copy {
  margin-bottom: 2rem;
  padding: 0 3rem 0 1.75rem;
  font-size: 0.875rem;
  line-height: 1.9;
  border-left: 1px solid #fff;
}
.lower-landing .overlay {
  padding-top: 10rem;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: #fff;
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7));
}
.lower-landing .overlay .container {
  display: flex;
}
.lower-landing .overlay__content {
  margin-left: auto;
  max-width: 31.25rem;
}
@media (max-width: 550px) {
  .container {
    margin-left: 10px;
  }

}


.landing-slideshow__slide{
  width: 100%;
  box-sizing: border-box;
  margin-left: 5px;
}

.landing-slideshow__slide h2 {
  font-size: 24px; /* Adjust size as needed */
  color: #fff; /* Choose a color that fits your design */
  margin-bottom: 10px;
}

.landing-slideshow__slide p {
  font-size: 16px;
  color: #ccc; /* Lighter text for the description */
}
.slide-line {
  height: 4px;
  width: 100%;
  margin-bottom: 10px;
}

/* Основные стили для слайдов */
.landing-slideshow__slide h2 {
  font-size: 24px; /* Размер заголовка */
  color: #fff; /* Цвет текста */
  margin-bottom: 10px;
}

.landing-slideshow__slide p {
  font-size: 16px;
  color: #ccc; /* Цвет дополнительного текста */
}

/* Стили для цветных линий под заголовками */
.slide-line {
  height: 4px;
  width: 100%;
  margin-bottom: 20px; /* Отступ между линией и текстом */
}

/* Цвета для каждой тематической линии */
.compling-line { background-color: #00a2ff; } /* Синий */
.zakharov-line { background-color: #7bff00; } /* Зеленый */
.textmining-line { background-color: #fffb00; } /* Желтый */
.llm-line { background-color: #ff007b; } /* Розовый */

/* Стили для точек управления слайдером */
.upper-landing__slideshow .slick-dots button {
  background-color: rgba(150, 151, 152, 0.5); /* Базовый цвет точек */
  transition: background-color 0.2s ease-in-out; /* Плавный переход цвета */
  width: 30px; /* Ширина точки */
  height: 3px; /* Высота точки */
  display: block; /* Обеспечиваем правильное отображение */
}

/* Изменение цвета точек при активации слайда */
.upper-landing__slideshow.compling .slick-dots li.slick-active button,
.upper-landing__slideshow.compling .slick-dots button:hover {
  background-color: #00a2ff; /* Голубой для CompLing Seminar */
}

.upper-landing__slideshow.zakharov .slick-dots li.slick-active button,
.upper-landing__slideshow.zakharov .slick-dots button:hover {
  background-color: #7bff00; /* Зеленый для Zakharov.day */
}

.upper-landing__slideshow.textmining .slick-dots li.slick-active button,
.upper-landing__slideshow.textmining .slick-dots button:hover {
  background-color: #fffb00; /* Желтый для TextMining.day */
}

.upper-landing__slideshow.llm .slick-dots li.slick-active button,
.upper-landing__slideshow.llm .slick-dots button:hover {
  background-color: #ff007b; /* Розовый для LLM.day */
}

.landing-slideshow__slide .content {
  display: flex;
  flex-direction: column; /* Элементы располагаются вертикально */
  justify-content: space-between; /* Равномерно распределяет пространство между элементами */
  height: 100%; 
}


.text-zone {
  margin-bottom: 20px;
  flex: 1;
  position: relative;
  z-index: 2; /* Текст выше графа */
}

.text-zone p {
  font-size: 18px; /* Adjust the font size as needed */
}

/* Responsive font sizes for non-desktop devices */
@media (max-width: 768px) {
  .text-zone p {
    font-size: 16px; /* Smaller font size on tablets */
  }
}

@media (max-width: 480px) {
  .text-zone p {
    font-size: 14px; /* Even smaller font size on mobile phones */
  }
}

.connected-graph {
  max-width: 850px;
  display: flex;
  justify-content: right;
}







.lower-landing__form {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Расстояние между элементами формы */
  margin-top: 1.5rem;
  padding-right: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 1rem;
  color: #fff; /* Белый текст для контраста */
  margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
  outline: none;
  transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #007bff; /* Цвет границы при фокусе */
}






/* Фон таймлайна */
.timeline {
  position: relative;
  max-width: 800px;
  margin: 9px;
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.1); /* Светлый серый фон */
  border-radius: 10px;
}

/* Заголовок и подзаголовок */
.timeline-title {
  font-size: 2.5rem;
  color: #7bff00; /* Пример зеленого цвета, как у кнопки */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Добавляем зеленую светящуюся тень для увеличения яркости */
  text-align: center;
  margin: 0;
  padding-bottom: 9px;


}

.timeline-subtitle {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}


.custom-list {
  list-style: none; /* Убираем стандартные маркеры */
  padding: 0;
  margin-top: 20px;
  margin-left: 0;
}

.custom-list li {
  position: relative;
  padding-right: 30px;
  margin-bottom: 20px; /* Расстояние между элементами */
  line-height: 1.6;
  background-color: #7bff00; /* Зелёный цвет фона */
  color: rgb(45, 45, 45); /* Цвет текста */
  padding: 10px 20px;
  border-radius: 10px; /* Скругление углов прямоугольника */
}

.custom-list li:hover {
  transform: scale(1.05); /* Увеличение размера элемента при наведении */
}


/* Адаптивные стили для меньших устройств */
@media (max-width: 768px) {
  .timeline-details li {
    font-size: 0.75rem; /* Уменьшаем размер шрифта на планшетах */
  }
}

@media (max-width: 480px) {
  .timeline-details ul {
    margin-left: 15px; /* Уменьшаем левый отступ на мобильных устройствах */
  }

  .timeline-details li {
    font-size: 0.65rem; /* Дальнейшее уменьшение размера шрифта на мобильных */
  }
}


/* События таймлайна */
.timeline-event {
  position: relative;
  margin: 2rem 0;
}

.timeline-event:hover {
  transform: scale(1.05); /* Увеличение размера элемента при наведении */
}


.timeline-point {
  position: absolute;
  left: 50%;
  width: 15px;
  height: 15px;
  background-color: #7bff00;
  border-radius: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.timeline-content {
  position: relative;
  width: 45%;
  padding: 1rem;
  background-color: #4a4a4a;
  color: #ececec;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.timeline-content .timeline-date {
  font-weight: bold;
  font-size: 1rem;
  color: #7bff00;
  margin-bottom: 0.5rem;
}

/* Чередование событий */
.timeline-event:nth-child(odd) .timeline-content {
  margin-left: 55%;
}

.timeline-event:nth-child(even) .timeline-content {
  margin-right: 55%;
  text-align: right;
}

.timeline-event:nth-child(odd) .timeline-point {
  left: 47.5%;
}

.timeline-event:nth-child(even) .timeline-point {
  left: 52.5%;
}

.intro-section {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

/* Медиа-запросы для планшетов */
@media (max-width: 768px) {
  .intro-section {
    margin-left: 15px; /* Уменьшаем левый отступ */
    max-width: 500px; /* Уменьшаем максимальную ширину для лучшего вписывания */
  }
}

/* Медиа-запросы для мобильных устройств */
@media (max-width: 480px) {
  .intro-section {
    margin-left: 10px; /* Ещё меньше левый отступ */
    max-width: 200px; /* Позволяет блоку растягиваться на всю доступную ширину */
  }
}

/* Основные стили для стрелок */
.slideshow-arrows__prev,
.slideshow-arrows__next {
  display: inline-block;
  height: auto; /* Поддерживаем пропорции изображения */
}

/* Устанавливаем размеры изображения внутри кнопок стрелок */
.slideshow-arrows__prev img,
.slideshow-arrows__next img {
  width: 100%; /* Заполняем полностью родительский элемент */
  height: auto; /* Поддерживаем пропорции */
}

/* Медиа-запросы для мобильных устройств */
@media (max-width: 768px) {
  .slideshow-arrows__prev,
  .slideshow-arrows__next {
    width: 60%w; /* Увеличиваем ширину на меньших экранах, если нужно более заметное отображение */
  }
}

@media (max-width: 480px) {
  .slideshow-arrows__prev,
  .slideshow-arrows__next {
    width: 40%; /* Увеличиваем ширину для очень маленьких экранов */
  }
}


.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popup-content {
  
  width: 400px;
  height: 400px;
  background-color: rgb(62, 62, 62);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.popup-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

@media (max-width: 480px) {
  .popup-content {
    width: 300px; /* Уменьшенная ширина на мобильных устройствах */
    height: 300px; /* Уменьшенная высота на мобильных устройствах */
    padding: 15px; /* Меньший паддинг для сохранения пространства */
  }
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}
.icon-container {
  font-size: 48px; /* Увеличиваем размер иконки */
  color: #4CAF50; /* Задаём цвет иконки, если нужно */
  margin-bottom: 20px; /* Добавляем немного места между иконкой и текстом */
}

.hidden {
  display: none;
}


.product-info__cta .button--alternate {
}

@media (max-width: 768px) {
  .product-info__cta .button--alternate {
    display: none;  /* Скрывает кнопку в исходном блоке */
  }


}

.product-info__mobcta .button--alternate {
  display: none; 
}

@media (max-width: 768px) {
  .product-info__mobcta .button--alternate {
  
    display: inline-block;  /* Показывает кнопку в конце таймлайна */
  }
}